*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginbox{
  padding: 60px 50px;
  background-color: #1f75ff;
  border-radius: 25px;
  color: white;
  width: 380px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  position: relative;
}
h2{
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}
label{
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input{
  padding: 18px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 12px;
  border: none;
  background-color: #f2f2f226;
  color: white;
}

input::placeholder{
  color: rgba(255,255,255,0.7);
}

.form-submit-button{
  text-align: center;
}

.form-submit-button button{
    width: 60%;
    padding: 18px;
    background: white;
    color: black;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    left: 50px;
}

.form-submit-button button:hover{
    background: black;
    color: white;
}
